html {
  overflow: auto;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  box-shadow: inset 1px 1px 3px #323232;
  background: #535353;
}
.content.vote {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.content.vote .people {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  background: #ccc;
  z-index: 2;
  background: #333;
  color: #999;
  text-shadow: #1a1a1a 0px 0px 15px;
  border-right: 4px solid #3d3d3d;
}
.content.vote .people .person {
  border-top: 1px solid #4e4e4e;
  border-bottom: 1px solid #2c2c2c;
  position: relative;
  height: 20px;
  color: #999;
  padding: 2px;
  padding-left: 12px;
  font-weight: bold;
  cursor: pointer;
}
.content.vote .people .person:hover {
  background: #3d3d3d;
}
.content.vote .people .person .button {
  position: absolute;
  color: #6b6b6b;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.content.vote .people .person .button:hover {
  color: #a3a3a3;
}
.content.vote .people .person .edit {
  right: 20px;
}
.content.vote .people .person .delete {
  right: 5px;
}
.content.vote .people .person form {
  display: none;
  position: absolute;
  top: 0;
  left: 4px;
  right: 22px;
  bottom: 0;
}
.content.vote .people .person form .name {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: #454545;
  border: none;
  color: #999;
  font-family: 'Times New Roman';
  font-kerning: auto;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: normal;
  font-weight: bold;
}
.content.vote .people .person.editing .name {
  display: none;
}
.content.vote .people .person.editing form {
  display: inline;
}
.content.vote .people .person.editing form .name {
  display: inline-block;
}
.content.vote .people .person.editing .edit {
  display: none;
}
.content.vote .people .person.selected {
  background: #454545;
}
.content.vote .people .new {
  border-top: 1px solid #4e4e4e;
  border-bottom: 1px solid #2c2c2c;
  position: relative;
  height: 20px;
  color: #999;
  color: #6b6b6b;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.content.vote .people .new:hover {
  background: #3d3d3d;
}
.content.vote .people .new .icon {
  font-weight: bold;
  font-size: 16pt;
}
.content.vote .people .new:hover {
  color: #a3a3a3;
}
.content.vote .movies {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 15%;
  right: 0;
  bottom: 0;
}
.content.vote .movies .movie {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  padding: 4px 2px 4px 2px;
}
.content.vote .movies .movie .up {
  cursor: pointer;
  color: #404040;
  position: absolute;
  font-size: control-font-size;
  top: 0px;
  right: 12px;
}
.content.vote .movies .movie .up:hover {
  color: #000;
}
.content.vote .movies .movie .down {
  cursor: pointer;
  color: #404040;
  position: absolute;
  font-size: control-font-size;
  right: 12px;
  bottom: 0px;
}
.content.vote .movies .movie .down:hover {
  color: #000;
}
.content.vote .movies .movie .right {
  cursor: pointer;
  color: #404040;
  position: absolute;
  font-size: control-font-size;
  top: 50%;
  margin-top: -8px;
  right: 3px;
}
.content.vote .movies .movie .right:hover {
  color: #000;
}
.content.vote .movies .movie .left {
  cursor: pointer;
  color: #404040;
  cursor: pointer;
}
.content.vote .movies .movie .left:hover {
  color: #000;
}
.content.vote .movies .selected {
  position: absolute;
  top: 0;
  bottom: 0;
  padding-top: 5px;
  overflow-y: scroll;
  left: 5px;
  right: 50%;
  border-right: 1px solid #999;
}
.content.vote .movies .selected .movie .left {
  display: none;
}
.content.vote .movies .available {
  position: absolute;
  top: 0;
  bottom: 0;
  padding-top: 5px;
  overflow-y: scroll;
  left: 50%;
  right: 5px;
  border-left: 1px solid #999;
}
.content.vote .movies .available .movie {
  cursor: pointer;
}
.content.vote .movies .available .movie .right,
.content.vote .movies .available .movie .up,
.content.vote .movies .available .movie .down {
  display: none;
}
