@require '../../style'

.content.vote
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0

	people-width = 15%

	.people
		position: absolute
		top: 0
		left: 0
		bottom: 0
		width: people-width
		background: hsl(0, 0%, 80%)

		z-index: 2

		bar(right, 4px)

		basic-person()
			dark-vertlist()
			position: relative
			height: 20px
			color: dark-fg

			&:hover
				background: dark-bg + 5%

		.person
			basic-person()
			padding: 2px
			padding-left: 12px
			font-weight: bold
			cursor: pointer

			.button
				position: absolute
				color: dark-fg - 30%

				cursor: pointer

				vendor(user-select, none)

				&:hover
					color: dark-fg + 10%

			.edit
				right: 20px

			.delete
				right: 5px

			form
				display: none

				position: absolute
				top: 0
				left: 4px
				right: 22px
				bottom: 0

				.name
					position: absolute
					top: 0
					left: 0
					right: 0
					bottom: 0
					width: 100%
					background: dark-bg + 9%
					border: none
					color: dark-fg
					font-family: 'Times New Roman'
					font-kerning: auto
					font-size: 16px
					font-style: normal
					font-variant: normal
					font-variant-ligatures: normal
					font-weight: bold

			&.editing
				.name
					display: none

				form
					display: inline
					.name
						display: inline-block

				.edit
					display: none

			&.selected
				background: dark-bg + 9%

		.new
			basic-person()
			color: dark-fg - 30%
			text-align: center

			vendor(user-select, none)

			.icon
				font-weight: bold
				font-size: 16pt

			&:hover
				color: dark-fg + 10%

	.movies
		z-index: 0

		position: absolute
		top: 0
		left: people-width
		right: 0
		bottom: 0

		movies-list()
			position: absolute
			top: 0
			bottom: 0
			padding-top: 5px
			overflow-y: scroll

		control-offset = 12px

		basic-control()
			cursor: pointer
			color: hsl(0, 0%, 25%)

			&:hover
				color: hsl(0, 0%, 0%)

		control()
			basic-control()
			position: absolute
			font-size: control-font-size

		.movie
			position: relative
			margin-left: 5px
			margin-right: 5px
			margin-bottom: 5px
			font-weight: bold
			padding: 4px 2px 4px 2px

			.editing
				display: none

			.up
				control()
				top: 0px
				right: control-offset

			.down
				control()
				right: control-offset
				bottom: 0px

			.right
				control()
				top: 50%
				margin-top: -8px
				right: 3px

			.left
				basic-control()
				cursor: pointer

		.selected
			movies-list()
			left: 5px
			right: 50%

			border-right: 1px solid light-border

			.movie .left
				display: none

		.available
			movies-list()
			left: 50%
			right: 5px

			border-left: 1px solid light-border

			.movie
				cursor: pointer
				
				.right, .up, .down
					display: none